    <footer class="clearfix">
        <p class="text-muted credit">&copy; {{ now.Format "2006" }} <a href="http://nickoneill.name">Nick O'Neill</a> or respective <a href="https://twitter.com/objctoswift/status/609032406562000897">contributor</a></p>
    </footer>
 <!-- Bootstrap core JavaScript-->
    <script src="{{ .Site.BaseURL }}/js/jquery-1.10.2.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/hc.js"></script>
    <script src="/js/prism.js"></script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '53a9f36ce32bb44395009727');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-371569-10', 'auto');
      ga('send', 'pageview');
    </script>
</body>

</html>
