<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ if .IsPage }}{{ if isset .Params "htmltitle" }}{{ .Params.htmltitle }}{{ else }}{{ .Title }}{{ end }}{{ else }}{{ .Site.Title }}{{ end }}</title>
  <meta name="referrer" content="origin" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ if .IsPage }}{{ .Description }}{{ else }}code for objective-c and swift{{ end }}" />
  <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .Permalink }}" rel="canonical" />
  <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ .Site.BaseURL }}css/hc.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif] d-->

  <!-- og properties -->
  <meta property="og:title" content="{{ if .IsPage }}{{ if isset .Params "htmltitle" }}{{ .Params.htmltitle }}{{ else }}{{ .Title }}{{ end }}{{ else }}{{ .Site.Title }}{{ end }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ if .IsPage }}{{ if isset .Params "previewcode" }}
  <meta property="og:image" content="{{ .Site.BaseURL }}images/previews/{{ .Params.previewcode }}.png" />
  {{ end }}{{ end }}
  <meta property="og:description" content="{{ if .IsPage }}{{ .Description }}{{ else }}code for objective-c and swift{{ end }}" />
  <meta property="og:site_name" content="That Thing in Swift" />

  <!-- twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@nickoneill" />
  <meta name="twitter:creator" content="@nickoneill" />
</head>
<body>
  <div id = "wrapper">


<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><span class="navbar-icon"><a href="https://twitter.com/nickoneill"><i class="fa fa-twitter-square"></i></a></span><span class="navbar-icon"><a href="https://github.com/nickoneill/thatthinginswift"><i class="fa fa-github-square"></i></a></span><span class="navbar-icon"><a href="/index.xml"><i class="fa fa-rss-square"></i></a></span></p>
    </div>
  </div>
</div>

<div class="container">
  {{ if .IsPage }}
  <div class="opensource">
    <p class="small">Open Source projects from That Thing in Swift</p>
    <div class="os-project clearfix" id="pscope">
      <img src="{{ .Site.BaseURL }}images/pscope-icon.png" alt="PermissionScope" height="60" />
      <p class="os-title">PermissionScope</p>
      <p>Intelligent iOS permissions UI and unified API &mdash; <strong>2,241</strong>⭐️ &mdash; <a href="https://github.com/nickoneill/permissionscope">Github</a> &mdash; <a href="http://cocoadocs.org/docsets/PermissionScope/1.0.2/">Documentation</a></p>
    </div>
    <div class="os-project clearfix" id="pantry">
      <img src="{{ .Site.BaseURL }}images/pantry-icon.png" alt="PermissionScope" height="60" />
      <p class="os-title">Pantry</p>
      <p>The missing light persistence layer for Swift &mdash; <strong>433</strong>⭐️ &mdash; <a href="https://github.com/nickoneill/Pantry">Github</a> &mdash; <a href="http://cocoadocs.org/docsets/Pantry/0.3/">Documentation</a></p>
    </div>
  </div>
  <script>
    var random = Math.round(Math.random()*1) + 1
    console.log(random)
    if (random == 1) {
      document.getElementById("pscope").style.display = "block";
    } else {
      document.getElementById("pantry").style.display = "block";
    }
  </script>
  {{ end }}
