<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ if .IsPage }}{{ if isset .Params "htmltitle" }}{{ .Params.htmltitle }}{{ else }}{{ .Title }}{{ end }}{{ else }}{{ .Site.Title }}{{ end }}</title>
  <meta name="referrer" content="origin" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ if .IsPage }}{{ .Description }}{{ else }}code for objective-c and swift{{ end }}" />
  <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .Permalink }}" rel="canonical" />
  <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ .Site.BaseURL }}css/hc.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif] d-->

  <!-- og properties -->
  <meta property="og:title" content="{{ if .IsPage }}{{ if isset .Params "htmltitle" }}{{ .Params.htmltitle }}{{ else }}{{ .Title }}{{ end }}{{ else }}{{ .Site.Title }}{{ end }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ if .IsPage }}{{ if isset .Params "previewcode" }}
  <meta property="og:image" content="{{ .Site.BaseURL }}images/previews/{{ .Params.previewcode }}.png" />
  {{ end }}{{ end }}
  <meta property="og:description" content="{{ if .IsPage }}{{ .Description }}{{ else }}code for objective-c and swift{{ end }}" />
  <meta property="og:site_name" content="That Thing in Swift" />

  <!-- twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@nickoneill" />
  <meta name="twitter:creator" content="@nickoneill" />
</head>
<body>
  <div id = "wrapper">


<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><span class="navbar-icon"><a href="https://twitter.com/nickoneill"><i class="fa fa-twitter-square"></i></a></span><span class="navbar-icon"><a href="https://github.com/nickoneill/thatthinginswift"><i class="fa fa-github-square"></i></a></span><span class="navbar-icon"><a href="/index.xml"><i class="fa fa-rss-square"></i></a></span></p>
    </div>
  </div>
</div>

<div class="container">
  {{ if .IsPage }}
  <div class="opensource">
    <div class="os-project clearfix">
      <img src="{{ .Site.BaseURL }}images/pantry-icon.png" alt="PermissionScope" height="60" />
      <p class="os-title">Need expert help for your Objective-C or Swift Project?</p>
      <p>👋 I currently have freelance availability to work on <strong>your project</strong>. Expert UI development, code pairing, tricky refactoring and more: <a href="mailto:nick.oneill@gmail.com?subject=Freelance%20Availability">Email me to get started</a></p>
    </div>
  </div>
  {{ end }}
